In [71]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [72]:
data=pd.read_csv('heart_disease_data.csv')

In [73]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [75]:
data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [76]:
X=data.drop(columns='target',axis=1)
y=data['target']

In [93]:
X['age']=pd.to_numeric(X['age'],errors='coerce')
X['sex']=pd.to_numeric(X['sex'],errors='coerce')
X['cp']=pd.to_numeric(X['cp'],errors='coerce')
X['trestbps']=pd.to_numeric(X['trestbps'],errors='coerce')
X['chol']=pd.to_numeric(X['chol'],errors='coerce')
X['fbs']=pd.to_numeric(X['fbs'],errors='coerce')
X['restecg']=pd.to_numeric(X['restecg'],errors='coerce')
X['exang']=pd.to_numeric(X['exang'],errors='coerce')
X['oldpeak']=pd.to_numeric(X['oldpeak'],errors='coerce')
X['slope']=pd.to_numeric(X['slope'],errors='coerce')
X['ca']=pd.to_numeric(X['ca'],errors='coerce')
X['thal']=pd.to_numeric(X['thal'],errors='coerce')
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [78]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [79]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [80]:
print(X.shape,X_train.shape,X_test.shape)

(303, 13) (242, 13) (61, 13)

In [81]:
model=LogisticRegression()

In [82]:
model.fit(X_train,y_train)

C:\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [83]:
pred=model.predict(X_train)

In [84]:
from sklearn.metrics import accuracy_score,r2_score
accuracy_score(pred,y_train)

0.8512396694214877

In [85]:
pred2=model.predict(X_test)

In [86]:
accuracy_score(pred2,y_test)

0.819672131147541

In [87]:
score=r2_score(pred,y_train)
score

0.37842465753424637

In [88]:
ip=[55,1,0,132,353,0,1,132,1,1.2,1,1,3]
tc=np.asarray(ip)
abc=tc.reshape(1,-1)
res=model.predict(abc)
print(res)

[0]

C:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [89]:
import pickle

In [90]:
filename='heartdiseasepred.sav'
pickle.dump(model,open(filename,'wb'))

In [91]:
loaded_model=pickle.load(open('heartdiseasepred.sav','rb'))

In [92]:
ip=[55,1,0,132,353,0,1,132,1,1.2,1,1,3]
tc=np.asarray(ip)
abc=tc.reshape(1,-1)
res=loaded_model.predict(abc)
print(res)

[0]

C:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(